# App
NODE_ENV=development
PORT=3001
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh

# Database
DB_HOST=localhost
DB_PORT=5433
DB_NAME=vault
DB_USER=vault
DB_PASSWORD=vault

# MinIO
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=vault
MINIO_USE_SSL=false

DOCS_MAX_FILE_SIZE_MB=20
DOCS_ALLOWED_MIME_TYPES=application/pdf,image/png,image/jpeg

# 32 bytes base64 (IMPORTANTE)
MASTER_KEY_B64=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=
MASTER_KEY_VERSION=1